*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

h1{
    font-size:64px;
    margin-bottom:20px;
}

p{
    font-size:24px;
    color:#cbd5e1;
    margin-bottom:40px;
}

button{
    background:#3b82f6;
    color:white;
    border:none;
    padding:15px 40px;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#2563eb;
}

.settings-icon {
    float: right;
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}
